@import "mixin.scss";
@import "variables.scss";
.picBox{text-align: center;font-size: 0;overflow: hidden;
  span{content: ''; display: inline-block; width: 0;height: 100%; vertical-align: middle;}
  div.pic{display: inline-block;vertical-align: middle;}
  img{max-height: 100%;max-width: 100%}
}
.flexPic{display: flex;align-items: center;justify-content: center;
  img{max-height: 100%;max-width: 100%}
}
.red-text{color: $red}
.nowrap {white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.mr-10{margin-right: 10px}
.mb-10{margin-bottom: 10px}
.mb-20{margin-bottom: 20px}
.midFormInput{width: 460px}
.smFormInput{width: 300px}
.pointer{cursor: pointer}
.short-input{width: 360px}
.mid-input{width: 460px}
.required label:before{content: '*' ;color: #FF4A4A;margin-right: 4px}
.listFunBox{background: #fff;display: flex;justify-content: space-between;padding-right: 20px;align-items: center;
  form{display: flex;align-items: center;height: 60px;}
  .el-form-item{margin-bottom: 0}
  .el-form-item label{font-size: 16px;font-weight: bold}
  input[type=text]{width: 248px;border-radius:  4px 0 0 4px ;}
  .searchBtn{cursor: pointer;border-radius:0  4px 4px 0 ;width: 32px;height: 32px;box-sizing: content-box;display: inline-block;border: 1px solid #dcdfe6;border-left: none}
}
.createPost-container {
  position: relative;

  .createPost-main-container {
    padding: 40px 45px 20px 50px;

    .postInfo-container {
      position: relative;
      @include clearfix;
      margin-bottom: 10px;

      .postInfo-container-item {
        float: left;
      }
    }
  }

  .word-counter {
    width: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}
.listTable table thead tr th{background-color: #F5F7FA}
